<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.koreait.petshop.model.domain.Product" alias="Product"/>
		<typeAlias type="com.koreait.petshop.model.domain.TopCategory" alias="TopCategory"/>
		<typeAlias type="com.koreait.petshop.model.domain.SubCategory" alias="SubCategory"/>		
		<typeAlias type="com.koreait.petshop.model.domain.Image" alias="Image"/>		
		<typeAlias type="com.koreait.petshop.model.domain.Color" alias="Color"/>		
		<typeAlias type="com.koreait.petshop.model.domain.Psize" alias="Psize"/>		
	</typeAliases>
	<mappers>
		<mapper resource="com/koreait/petshop/mybatis/mapper/ProductMapper.xml"/>
		<mapper resource="com/koreait/petshop/mybatis/mapper/TopCategoryMapper.xml"/>
		<mapper resource="com/koreait/petshop/mybatis/mapper/SubCategoryMapper.xml"/>
		<mapper resource="com/koreait/petshop/mybatis/mapper/ImageMapper.xml"/>
		<mapper resource="com/koreait/petshop/mybatis/mapper/ColorMapper.xml"/>
		<mapper resource="com/koreait/petshop/mybatis/mapper/PsizeMapper.xml"/>
	</mappers>
</configuration>