<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">

<!-- Admin 사용 영역 -->
	<!-- 회원 리스트 불러오기 -->
	<select id="selectAll" resultType="Member" >
		SELECT * FROM member ORDER BY member_id DESC
	</select>


<!--Shop 사용 영역  -->
	<!-- 회원 가입 -->
	<insert id="insert" parameterType="Member">
		INSERT INTO member(member_id, user_id, name, password, phone, email_id, email_server, zipcode, addr)
		VALUES(seq_member.NEXTVAL, #{user_id},#{name},#{password},#{phone} ,#{email_id},#{email_server},#{zipcode},#{addr})
	</insert>
	
	<!-- 아이디 중복검사 -->
	<select id="duplicateCheck" resultType="int">
		SELECT COUNT(*) FROM member WHERE user_id=#{user_id}
	</select>
	
	<!-- 로그인 -->
	<select id="select" parameterType="Member" resultType="Member">
		SELECT * FROM member WHERE user_id=#{user_id} AND password=#{password}
	</select>
	
	<!-- 회원정보 수정 -->
	<update id="update">
		UPDATE member 
		SET password=#{password}, phone=#{phone},email_id=#{email_id}, email_server=#{email_server}, zipcode=#{zipcode}, addr=#{addr}
		WHERE user_id=#{user_id}
	</update>

	
	<!-- 회원 탈퇴 -->
	<delete id="delete" parameterType="Member">
		DELETE FROM member WHERE user_id=#{user_id} AND password=#{password}
	</delete>
</mapper>	